* {
  box-sizing: border-box;
  margin: 0;

  list-style: none;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: black;
}

:root {
  --black: black;
  --blue: blue;
  --green: green;
  --red: red;

  --theme: black;
  --theme-inverted: white;
}

.center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flexbox-container {
  height: auto;
}

/*   theme  */

.theme {
  background-color: var(--black);
  padding: 6px;
  font-size: small;
  color: var(--theme-inverted);
}

/* header */

.header {
  background-color: var(--blue);
  height: 600px;
  background: url("images/header.jpg") center;
  position: relative;
  color: var(--theme-inverted);
}

.menu ul {
  display: none;
  justify-content: flex-end;
  background-color: white;
  padding: 10px;
}

.menu ul li {
  margin: 2px;
  padding: 10px;
  background-color: yellow;
  border-radius: 20%;
}

.title {
  position: absolute;
  top: 40%;
  right: 0%;
  left: 0%;

  padding: 40px;
}

.title h1 {
}

.title p {
}

/* store-des */

.store-des {
  text-align: center;
  padding: 5%;
  font-size: small;
  color: var(--theme);
  background-color: var(--theme-inverted);
}

.logo {
  width: 30px;
}

.store-des .contain {
  width: auto;
}

/* feature-product */
.feature-product {
  color: var(--theme-inverted);
}

.feature-product img {
  width: 300px;
}

.des {
  position: relative;
}

.des .text-container h2 {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.des .text-container {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 10px;
}

.des .text-container:hover {
  top: 20px;
  left: -5px;
}

/* featured-product */

.featured-product h3 {
  padding: 40px;
}

.product-card {
  border-style: solid;
  border-color: black;
  padding: 10px;
  color: var(--theme);
  font-size: small;
}

.featured-product a {
  color: var(--theme);
}

/* newsletter */

.newsletter {
  height: 300px;
  background: url("images/footer.png") center;
}

.newsletter h1 {
  font-size: large;
  padding-bottom: 40px;
  color: var(--theme-inverted);
}

/* button */
.btn-1 {
  background-color: transparent;
  border-color: white;
  border-style: solid;
  border-radius: 50px;
  padding: 10px 30px;
  color: var(--theme-inverted);
}

.btn-1:hover {
  background-color: black;
  border-style: none;
}

.btn-2 {
  background-color: black;
  border-color: white;
  border-style: solid;
  border-radius: 50px;
  padding: 10px 30px;
  color: var(--theme-inverted);
}

.btn-2:hover {
  background-color: black;
  border-style: none;
}

.pad-20 {
  padding: 20px;
}

.margin-20 {
  margin: 20px;
}

/* Navigation */

.nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-list li {
  margin: 10px;
}
